<!-- THIS FILE SHOULD BE IN A SEPARATE FOLDER TO BE APPLIED AFTER ALL PATCHES IN APP_CONFIG\INCLUDE FOLDER -->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SignalR.Path" value="/sitecore/admin/signalr"/>
    </settings>
    <pipelines>
      <httpRequestBegin>
        <processor type="SharedSource.LogTail.Pipelines.IgnoreSignalRPath, SharedSource.LogTail"
                   patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
